@font-face {
  font-family: "ProximaNova Regular";
  src: url("../font/proxima_nova_regular.eot");
  /* IE 9 Compatibility Mode */
  src: url("../font/proxima_nova_regular.eot?#iefix") format("embedded-opentype"), url("../font/proxima_nova_regular.woff2") format("woff2"), url("../font/proxima_nova_regular.woff") format("woff"), url("../font/proxima_nova_regular.ttf") format("truetype"), url("../font/proxima_nova_regular.svg#proxima_nova_regular") format("svg");
  /* Chrome < 4, Legacy iOS */
}
@font-face {
  font-family: "ProximaNova Bold";
  src: url("../font/proxima_nova_bold.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/proxima_nova_bold.eot?#iefix") format("embedded-opentype"), url("../fonts/proxima_nova_bold.woff2") format("woff2"), url("../fonts/proxima_nova_bold.woff") format("woff"), url("../fonts/proxima_nova_bold.ttf") format("truetype"), url("../fonts/proxima_nova_bold.svg#proxima_nova_bold") format("svg");
  /* Chrome < 4, Legacy iOS */
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: "ProximaNova Regular";
}

a {
  text-decoration: none;
}

image {
  max-width: 100%;
}

.container {
  width: 1295px;
}

.main {
  height: 70rem;
  background: #fff url(../img/main_bg.jpg) center center no-repeat;
  background-size: cover;
}

.header__header {
  display: flex;
  align-items: center;
  margin-bottom: 12rem;
}
.header__logo {
  margin-right: auto;
}
.header-contacts {
  margin-right: 3rem;
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 700;
  color: #1a1820;
}

.button {
  width: 225px;
  height: 50px;
  background-color: #fcb303;
  border: none;
  border-radius: 8px;
  font-family: "ProximaNova Regular";
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #fcfcfc;
}

.hero__title {
  margin-bottom: 4rem;
  font-size: 4rem;
  text-transform: uppercase;
  line-height: 58px;
  font-weight: 700;
}
.hero__subtitle {
  margin-bottom: 4rem;
  font-size: 2.4rem;
  line-height: 1.2;
  font-weight: 400;
}
.hero__price {
  display: inline-block;
  text-align: center;
  margin-bottom: 3rem;
  padding: 3rem 0;
  width: 225px;
  height: 105px;
  background-color: #4bc316;
  font-size: 1.8rem;
  line-height: 1.2;
  color: #fcfcfc;
}
.hero__price strong {
  font-size: 2rem;
}
.hero__trigger {
  font-size: 2.2rem;
  font-weight: 700;
  text-transform: uppercase;
}
.hero__form {
  margin: 0 0 3rem 0;
  padding: 3rem;
  min-height: 410px;
  background-color: #fff;
  text-align: center;
}
.hero__form-title {
  margin-bottom: 4rem;
  font-size: 1.4rem;
}
.hero h2 {
  font-size: 1.6rem;
}
.hero__form-input {
  display: block;
  margin: 3rem 0;
  padding: 1.5rem;
  width: 100%;
  border: 1px solid #dddddd;
  border-radius: 5px;
}
.hero label {
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  padding: 0.5rem;
  font-size: 1.3rem;
  background-color: #fff;
}
.hero__btn {
  width: 100%;
  height: 65px;
  font-size: 1.6rem;
  line-height: 1.2;
  font-weight: 600;
  text-transform: uppercase;
}
.hero__form-text {
  display: block;
  margin-top: 1.5rem;
  font-size: 12px;
  line-height: 1.2;
  font-weight: 400;
}
.hero__textunder {
  padding-left: 2.5rem;
  width: 80%;
  font-size: 1.2rem;
}

.row {
  justify-content: space-between;
}